node_modules
.DS_Store
dist
dist-ssr
*.local

### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/
.hbuilderx

### Log ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

target/
tests/
package-lock.json
unpackage/